.paysleevecpntainer{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 98.7vw;
    min-height: 50vh;
    background: var(--primary);
}
.employeelist{
    width: 98.7vw;
    min-height: 30vh;
    background: var(--primary);
    color: var(--seconderyText);



}
.paysleevetype{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 98.7vw;
    align-items: center;
    background:#1d3557;
    color:#f1faee;
}

.pstitle{
    text-align: center;
    font-size: 1.5rem;
    color: var(--seconderyText);
    height: 20vh;

}
.paysleevecreator{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 97vw;
    align-items: center;
    height: 8vh;
    background: var(--seconderyText);
    color: var(--primary);

}
.hoursfee{
    width: 10vw;
}
.psbtn{
    width: 10vw;
    background: rgb(20, 82, 20);
    color: var(--seconderyText);
}
.pslist{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 98.7vw;
    align-items: center;
    min-height: 40vh;
    background: var(--primary);
    color: var(--seconderyText);

}
.pslisttitle{
    text-align: center;
    font-size: 1.5rem;
    color: var(--seconderyText);
    background: var(--primary);



}
.visicalps{
    display: flex;
    justify-content: space-between;
    width: 50vw;
    align-items: center;
    border-bottom:  2px solid blue;

  
}
