.header_container{
    height: 11vh;
    background: var(--primary);
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}


.logo{
    width: 13%;
    height: 99%;
    background-image: url('./images/Yashirlogo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:60%;
    cursor: pointer;
    margin-left: -8px;
   
}



.links{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}
.links a {
    text-decoration: none;
    color: var(--seconderyText);

}
.links li{
    list-style: none;
    cursor: pointer;
}
.links li :hover{
    
    color: red;
    cursor: pointer;
    /* background-color: green; */
}


.rightsideheader{
    width: 15vw;
    display: flex;
    background: var(--primary);
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}
.account{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}

.auth{
    width: 20vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
   

    height: 80%;
    width: 40%;
    background:lightblue;
    border: 1px solid red;
    height: 50%;
    border-radius: 2px;
}
.login a{
    text-decoration: none;
}
.logout{
    text-align: center;
    height: 80%;
    width: 40%;
    background:lightblue;
    border: 1px solid red;
    height: 50%;
    border-radius: 2px;
    margin-left: 5px;
}
.logout a {
    text-decoration: none;
}


.links_container {
    display: flex;
    width: 70vw;
  }

  .icon {
    display: none;
    width: 70px;
    height: 2px;
    border-radius: 2px;
    background: wheat;
    margin-top: 32px;
    transition: all 0.5s;
  }

  @media only screen and (max-width: 800px) {
 
      .icon {
        display: inline-block;
        position: absolute;
        top: 0px;
        right: 15px;
        width: 70px;
        height: 5px;
        border-radius: 0px;
        background: var(--seconderyText);
        transition: all 0.5s;
        z-index: 1;
      }
      .icon:before {
        content: "";
        position: absolute;
        width: 70px;
        height: 2px;
        border-radius: 5px;
        background: var(--seconderyText);
        top: -17px;
      }
      .icon:after {
        content: "";
        position: absolute;
        width: 70px;
        height: 2px;
        border-radius: 5px;
        background: var(--seconderyText);
        top: 17px;
      }
      .links {
        display: flex;
        flex-direction: column;
        width:10rem;
        height: 100vh;
        background: var(--primary);
        transform: translatex(0);
      }
      .links_container{
        display: none;
      }
 
      .home{
        margin-top: 30px;
      }
      .burgerContainer{
        position: absolute;
        right: 1rem;
        top: 0%;
        width: 9.5rem;
        height: 4rem;
      }
      .logo{
        width: 8rem;
        height: 4rem;
        background-image: url('./images/Yashirlogo.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size:60%;
        cursor: pointer;
        margin-left: -8px;
       
    }
    .links li a {
        text-decoration: none;
        color: var(--seconderyText);
        z-index: 1;
    
    }
    .rightsideheader{
        display: flex;
        width: 10rem;
        background: var(--primary);
        justify-content: center;
        align-items: center;
        border-radius: 2px;
    }
   
  
  }
 
  
 
  
/*   
  .action {
    display: visible;
    background: transparent;
    transition: all 0.5s;
  }
  
  .action.icon:after {
    transition: all 0.5s;
    transform: rotate(135deg);
    top: 53px;
  }
  .action.icon:before {
    transition: all 0.5s;
    transform: rotate(-135deg);
  }
  .mymenu {
    transform: translatex(0);
    transition: all 0.5s;
  }  */