.containerDetails{
    width: 100vw;
    height: 100vh;
    background-color: var(--primery);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    color: var(--seconderyText);

}
p{
    color: var(--seconderyText);

}
.arrowBack{
    margin: 10px;
    height: 10vh;

}
.contents{
    width: 100vw;
    height: 80vh;
    background-color:#1d3557;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: var(--seconderyText);
    
}
.mypostAvatar{
    width: 40vw;
    height: 60vh;
    background: var(--seconderyText);
    border-radius: 5px;
    color: var(--seconderyText);

}
.mypostAvatar img{
    width: 40vw;
    height: 60vh;
    opacity: 0.5;
}
.postDetailInfo{
    width: 40vw;
    height: 60vh;

}
.discriptions{
    color: var(--seconderyText);
    
}
.title{
    font-size: 2rem;
    color: yellow;
    text-align: start;


}
.titles{
    font-size: 1.5rem;
    color: var(--seconderyText);
    line-height: 2rem;
}
button{
    width: 20vw;
    height: 6vh;
    border: 1px var(--buttom) solid;
    border-radius: 5px;
    background-color: var(--buttom);
}